<div id="profile-editor" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Modifier le profil
                </h5>
                <button class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <form action="/staff/profile-updatee" method="post"
                  onsubmit="return validateForm2();">
                <div class="modal-body">

                    <!-- first name and last name -->
                    <div class="d-flex justify-content-center mt-2">
                        <input id="prenom" class="form-control form-control mr-1 text-capitalize" placeholder="Prénom"
                               value="{{user.firstName}}" data-default="{{user.firstName}}"
                               name="prenom" onblur="verifprenom()"/>
                        <input id="nom" class="form-control form-control ml-1 text-capitalize" placeholder="Nom"
                               value="{{user.name}}" data-default="{{user.name}}"
                               name="nom" onblur="verifnom()"/>
                    </div>
                    <!-- description -->
                      <br><br>

                    <span>Ufr&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <select data-trigger="" name="ufr">
                        <option placeholder="" value="inf">Informatique</option>
                        <option value="Physique">Physique</option>
                        <option value="Science">Science et nature</option>
                        <option  value="Histoire">Histoire</option>
                        <option  value="Chimie">Chimie</option>
                      </select>	</br></br>
                      <span>Service&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <select data-trigger="" name="service">
                        <option  value="Social" placeholder="">Social</option>
                        <option value="Scolarité">Scolarité</option>
                        <option value="Relations Internationnales" >Relations Internationnales</option>
                        <option value="Service des sports">Service des sports</option>
                        <option value="Médecine de prévention">Médecine de prévention</option>
                        <option value="Enseignement">Enseignement</option>
                      </select>	</br></br>
                      <span>Métier&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp</span>
                     <select data-trigger="" name="job">
                        <option value="secrétaire" placeholder="">secrétaire</option>
                        <option value="Professeur">Professeur</option>
                        <option value="responsable pédagogique">responsable pédagogique</option>
                        <option value="Médecin">Médecin</option>
                        <option value="Infirmier">Infirmier</option>
                      </select>
                      <br><br>
                      <span>Université&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                     <select data-trigger="" name="university">
                        <option value="Paris Diderot" placeholder="">Université Paris Diderot</option>
                        <option value="Paris Descarte">Université Paris Descarte</option>
                        <option value="Institut de Physique du Globe">Institut de Physique</option>
                      </select>

                <div class="modal-footer">
                    <button class="btn --btn-outline-primary font-weight-bold" data-dismiss="modal">
                        ANNULER
                    </button>
                    <input type="submit" class="btn btn-primary" value="Enregister"/>
                </div>
            </form>
        </div>
    </div>
</div>
{% block javascripts %}

     <script src="{{asset('js/formulaire.js')}}"></script>

{% endblock %}
