{% extends 'base.html.twig' %}
{% block body %}
<div class="wrapper --bg-light">
    <div class="mx-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-6 col-xs-6 col-md-6 col-centered">
                    <center> {%include('flash-messages.html.twig')%} </center>
                </div>
            </div>
            <!-- profile details -->
            <section class="row">
                <div class="col-lg-7 col-md-7 col-xl-7 col-xs-7 mx-auto bg-light py-2 mt-6">
                    <div class="col-lg-12 col-md-12 col-xl-12 col-xs-12">
                        <!-- user name -->
                        <h3 class="text-center text-dark col-lg-12 text-capitalize mt-2">
                            {{user.nom}} {{user.prenom}}
                        </h3>


                        <!-- about details -->
                        <br>
                        <div class="col-lg-12 col-md-12 col-xl-12 col-xs-12 px-0 ">
                          <div class="align-items-start d-flex mt-1">
                          {% if user.statut=="Etudiant" %}
                                Formation actuelle: {{app.session.get('formation')}}
                          {% else %}
                                Poste actuel : {{user.poste}}

                          {% endif %}
                           </div>

                           <div class="align-items-start d-flex mt-1">
                           {% if user.statut=="Etudiant" %}
                                 Université  actuelle: {{app.session.get('university')}}
                           {% else %}
                                 Ufr actuelle &nbsp;&nbsp;: {{user.ufr}}
                           {% endif %}
                            </div>
                        </div>
                                <!-- profile edit -->
                                <div class="col-lg-12 col-md-12 col-xl-12 col-xs-12 row justify-content-center mx-0 mt-2">
                                <div class="d-flex flex-column align-items-center pointable mx-2 mt-4" data-toggle="modal"
                                     data-target="#profile-editor">
                                    <img src="/img/svg/user-edit.svg" class="profile-edit-icon d-block"/>
                                    <span class="--text-primary text-center font-weight-bold font-sm mt-1">
                                        Personaliser<br/>
                                        profil
                                    </span>
                                </div>
                        </div>
                    </div>
                </div>
            </section>
          {% include('profile-editor.html.twig') %}
        </div>
    </div>
</div>


{% endblock %}
