<div id="profile-editor" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Modifier le profil
                </h5>
                <button class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <form action="/profile-update" method="post"
                  onsubmit="return validateForm2();">
                <div class="modal-body">

                    <!-- first name and last name -->
                    <div class="d-flex justify-content-center mt-2">
                        <input id="prenom" class="form-control form-control mr-1 text-capitalize" placeholder="Prénom"
                               value="{{app.session.get('prenom')}}" data-default="{{app.session.get('prenom')}}"
                               name="prenom" onblur="verifprenom()"/>
                        <input id="nom" class="form-control form-control ml-1 text-capitalize" placeholder="Nom"
                               value="{{app.session.get('nom')}}" data-default="{{app.session.get('prenom')}}"
                               name="nom" onblur="verifnom()"/>
                    </div>
                    <!-- description -->
                {% if user.statut=="Etudiant" %}
                    <input id="formation" class="form-control form-control mr-1 text-capitalize mt-3" placeholder="Foramtion actuelle"
                              name="formation" value="{{app.session.get('formation')}}" data-default="{{app.session.get('formation')}}" onblur="verifFormation()"/>


                  <input id="university" class="form-control form-control mr-1 text-capitalize mt-3" placeholder="Université actuelle"
                    name="university" value="{{app.session.get('university')}}" data-default="{{app.session.get('university')}}" onblur="verifUniv()"/>
                </div>
                {% else %}

                    <div class="input-select mt-3">
                      Poste actuelle
                      <select data-trigger="" name="postee" class="select">
                        <option placeholder="">{% if user.poste=="non renseigné" %}Poste actuelle{% else %} {{user.poste}}{% endif %}</option>
                        <option>Scolarité</option>
                        <option>Professeur</option>
                        <option>Service crous</option>
                        <option>Service des sports</option>
                        <option>Assistant social</option>
                        <option>Médecine de prévention</option>
                        <option>responsable pédagogique</option>
                      </select>
                    </div>
                    <div class="input-select mt-3">
                      Ufr actuelle &nbsp;&nbsp;&nbsp;&nbsp;
                      <select data-trigger="" name="ufr" class="select">
                        <option placeholder="">{% if user.ufr=="non renseigné" %}nom de l'ufr{% else %} {{user.ufr}}{% endif %}</option>
                        <option>Linguistique</option>
                        <option>Informatique</option>
                        <option>Médecine</option>
                        <option>Mathématiques</option>
                        <option>Physique</option>
                        <option>Sciences du vivant</option>
                        <option>Géographie, histoire et Economie</option>
                        <option>non renseigné</option>
                      </select>
                    </div>

          {% endif %}

                <div class="modal-footer">
                    <button class="btn --btn-outline-primary font-weight-bold" data-dismiss="modal">
                        ANNULER
                    </button>
                    <input type="submit" class="btn btn-primary" value="Enregister"/>
                </div>
            </form>
        </div>
    </div>
</div>
{% block javascripts %}

     <script src="{{asset('js/formulaire.js')}}"></script>

{% endblock %}
